Passos para realização da atividade:

Leia o arquivo CSV disponível na página da disciplina e apresente o DataFrame completo.
Transforme a coluna nome em índice e reapresente o DataFrame.
Conte quantos elementos nulos existem em cada coluna.
Elimine as linhas com elementos nulos do dataframe.
Mostre os dados da pessoa com nome Francisco.
Calcule o Índice de Massa Corporal, usando a seguinte fórmula IMC = Peso / Altura**2. O valor do IMC deve ser salvo em uma nova coluna do DataFrame.
Mostre o nome e IMC dos homens obesos (IMC maior que 25).
Mostre o nome e IMC das mulheres obesas (IMC maior que 24).

In [41]:
import pandas as pd
import numpy as np

Leia o arquivo CSV disponível na página da disciplina e apresente o DataFrame completo.

na_values é para que strings vazias virem not a NAN e sejam lidas pelas funções do pandas

In [42]:
dados = pd.read_csv("Aula1_Atividade1.csv", delimiter=",", na_values=[''])
dados = dados.set_index('Nome')

Transforme a coluna nome em índice e reapresente o DataFrame.

In [43]:
print("DataFrame com a coluna Nome como índice")
print(dados)

DataFrame com a coluna Nome como índice
              Genero   Peso  Altura
Nome
Joao       Masculino  100.0    1.82
Maria       Feminino   53.0    2.00
Jose       Masculino   61.0     NaN
Sara        Feminino   97.0    1.80
Paulo      Masculino   63.0    1.72
Roberto    Masculino    NaN    1.52
Francisco  Masculino   61.0    1.62
Leandro    Masculino   64.0    1.74
Laura       Feminino   69.0    1.80
NaN        Masculino   67.0     NaN
Soraia      Feminino   76.0    1.86
Gorete      Feminino   96.0    1.84
Alexandre  Masculino   56.0    1.90
Viviane     Feminino   54.0    1.62
Andre      Masculino   63.0    1.80

Conte quantos elementos nulos existem em cada coluna.

In [44]:
print("\nNulos por coluna:")
print(dados.isnull().sum())

print("\nTotal de nulos no DataFrame:")
print(dados.isnull().sum().sum())

Nulos por coluna:
Genero    0
Peso      1
Altura    2
dtype: int64

Total de nulos no DataFrame:
3

Elimine as linhas com elementos nulos do dataframe.

In [45]:
dados_sem_nulos = dados.dropna()
print("\nDataFrame sem as linhas com valores nulos:")
print(dados_sem_nulos)

DataFrame sem as linhas com valores nulos:
              Genero   Peso  Altura
Nome
Joao       Masculino  100.0    1.82
Maria       Feminino   53.0    2.00
Sara        Feminino   97.0    1.80
Paulo      Masculino   63.0    1.72
Francisco  Masculino   61.0    1.62
Leandro    Masculino   64.0    1.74
Laura       Feminino   69.0    1.80
Soraia      Feminino   76.0    1.86
Gorete      Feminino   96.0    1.84
Alexandre  Masculino   56.0    1.90
Viviane     Feminino   54.0    1.62
Andre      Masculino   63.0    1.80

Mostre os dados da pessoa com nome Francisco.

In [47]:
linha = dados_sem_nulos.loc['Francisco']
print("Todos os dados da linha do Francisco")
print(linha)

Todos os dados da linha do Francisco
Genero    Masculino
Peso           61.0
Altura         1.62
Name: Francisco, dtype: object

Calcule o Índice de Massa Corporal, usando a seguinte fórmula IMC = Peso / Altura**2. O valor do IMC deve ser salvo

In [51]:
dados_sem_nulos['Indice']= dados_sem_nulos['Peso']/ dados_sem_nulos['Altura']**2
print(dados_sem_nulos)

              Genero   Peso  Altura     Indice
Nome
Joao       Masculino  100.0    1.82  30.189591
Maria       Feminino   53.0    2.00  13.250000
Sara        Feminino   97.0    1.80  29.938272
Paulo      Masculino   63.0    1.72  21.295295
Francisco  Masculino   61.0    1.62  23.243408
Leandro    Masculino   64.0    1.74  21.138856
Laura       Feminino   69.0    1.80  21.296296
Soraia      Feminino   76.0    1.86  21.967858
Gorete      Feminino   96.0    1.84  28.355388
Alexandre  Masculino   56.0    1.90  15.512465
Viviane     Feminino   54.0    1.62  20.576132
Andre      Masculino   63.0    1.80  19.444444

C:\Users\roberto\AppData\Local\Temp\ipykernel_4988\846122629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_sem_nulos['Indice']= dados_sem_nulos['Peso']/ dados_sem_nulos['Altura']**2

Mostre o nome e IMC dos homens obesos (IMC maior que 25).

In [60]:
homens_obesos = dados_sem_nulos[(dados_sem_nulos['Genero'] == 'Masculino') & 
                                (dados_sem_nulos['Indice'] >= 25)]
print(homens_obesos)

         Genero   Peso  Altura     Indice
Nome
Joao  Masculino  100.0    1.82  30.189591


Mostre o nome e IMC das mulheres obesas (IMC maior que 24).

In [62]:
mulheres_obesas = dados_sem_nulos[(dados_sem_nulos['Genero'] == 'Feminino') & 
                                (dados_sem_nulos['Indice'] >= 24)]
print(mulheres_obesas)

          Genero  Peso  Altura     Indice
Nome
Sara    Feminino  97.0    1.80  29.938272
Gorete  Feminino  96.0    1.84  28.355388