
Disciplina: Mineração de Dados

Professor: Wilson Castello Branco Neto

Aula 3 - Limpeza de Dados - Atividade 1

Nome: Patriki De Oliveira Góss

Dataset: Salary dataset based on country and race

Disponível em: https://www.kaggle.com/datasets/sudheerp2147234/salary-dataset-based-on-country-and-race

Importe o dataset indicado e apresente seus dados, os tipos de cada uma de suas colunas e suas estatísticas básicas.

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('Salario.csv',)

df

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...,...
6699,6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean
6703,6703,26.0,Female,High School,Sales Executive,1.0,35000.0,Canada,Black

Elimine a coluna Unnamed: 0.

In [3]:
df.drop('Unnamed: 0',axis=1, inplace=True)
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean
6703,26.0,Female,High School,Sales Executive,1.0,35000.0,Canada,Black

Verifique quantos valores ausentes (nulos) existem em cada atributo e elimine as linhas que contenham algum valor nulo.(dados = dados.dropna(axis=1)
 para dropar toda uma coluna com nulos)

In [4]:
dados = df.dropna()

print("\nApós remoção, valores nulos por coluna:")
print(dados.isnull().sum())

Após remoção, valores nulos por coluna:
Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
Country                0
Race                   0
dtype: int64

Conte a quantidade de linhas duplicadas e elimine estas linhas.(df.duplicated(subset=['coluna1', 'coluna2']).sum() para se for verificar colunas em especifico)

In [5]:
print(dados.duplicated().sum())

# Remove as linhas duplicadas (mantém apenas a primeira ocorrência)
dados.drop_duplicates(inplace=True)

# Confirma se ainda há duplicadas
print("Após remoção:", dados.duplicated().sum())

1535
Após remoção: 0

C:\Users\User\AppData\Local\Temp\ipykernel_13128\1709366219.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.drop_duplicates(inplace=True)

Apresente e depois elimine os outliers do campo salário. Considere que um outlier será dado pelo valor da média +- 2 vezes o seu desvio padrão.

In [6]:
# calcular limites
li = df['Salary'].mean() - 2 * df['Salary'].std()
ls = df['Salary'].mean() + 2 * df['Salary'].std()

# exibir os outliers
outliers = df[(df['Salary'] < li) | (df['Salary'] > ls)]
print(outliers)

# eliminar os outliers
df_sem_outliers = df[(df['Salary'] >= li) & (df['Salary'] <= ls)]

       Age  Gender    Education Level                           Job Title  \
30    50.0    Male         Bachelor's                                 CEO
83    52.0    Male                PhD            Chief Technology Officer
259   29.0    Male         Bachelor's  Junior Business Operations Analyst
1890  25.0  Female  Bachelor's Degree                 Front end Developer
2654  23.0    Male                PhD           Software Engineer Manager
4152  50.0    Male                PhD                      Data Scientist
4167  50.0    Male                PhD                      Data Scientist
4182  50.0    Male                PhD                      Data Scientist
4197  50.0    Male                PhD                      Data Scientist
4212  50.0    Male                PhD                      Data Scientist
4227  50.0    Male                PhD                      Data Scientist
4242  50.0    Male                PhD                      Data Scientist
4257  50.0    Male                PhD                      Data Scientist
4276  51.0    Male                PhD                      Data Scientist
4291  51.0    Male                PhD                      Data Scientist
4306  51.0    Male                PhD                      Data Scientist
4321  51.0    Male                PhD                      Data Scientist
4336  51.0    Male                PhD                      Data Scientist
4351  51.0    Male                PhD                      Data Scientist
4366  51.0    Male                PhD                      Data Scientist
4381  51.0    Male                PhD                      Data Scientist
4397  49.0    Male    Master's Degree                   Marketing Manager
4633  31.0  Female  Bachelor's Degree               Junior HR Coordinator
5001  45.0    Male  Bachelor's Degree                   Financial Manager

      Years of Experience    Salary    Country        Race
30                   25.0  250000.0     Canada       Asian
83                   24.0  250000.0     Canada       Black
259                   1.5     350.0        USA    Hispanic
1890                  1.0     550.0         UK       Mixed
2654                  1.0     579.0         UK       Mixed
4152                 23.0  225000.0         UK       Asian
4167                 23.0  225000.0        USA    Hispanic
4182                 23.0  225000.0  Australia  Australian
4197                 23.0  225000.0  Australia  Australian
4212                 23.0  225000.0  Australia       White
4227                 23.0  225000.0         UK       White
4242                 23.0  225000.0  Australia       White
4257                 23.0  225000.0         UK       Welsh
4276                 24.0  240000.0     Canada       Black
4291                 24.0  240000.0         UK       Welsh
4306                 24.0  240000.0      China      Korean
4321                 24.0  240000.0      China     Chinese
4336                 24.0  240000.0        USA       White
4351                 24.0  240000.0     Canada       Black
4366                 24.0  240000.0     Canada       White
4381                 24.0  240000.0     Canada       Asian
4397                 23.0  228000.0     Canada       White
4633                  4.0     500.0        USA       Asian
5001                 21.0  250000.0     Canada       Black

Verifique se há alguma dado inconsistente considerando os campos idade e anos de experiência. Considere que as pessoas só podem começar a trabalhar após os 16 anos de idade.

In [10]:
# Verificar inconsistências de idade e experiência
inconsistentes_idade_exp = df[(df['Age'] - df['Years of Experience']) < 16]
print("⚠️ Inconsistências entre idade e experiência:")
print(inconsistentes_idade_exp)

# Verificar valores de gênero incorretos
inconsistentes_genero = df[~df['Gender'].isin(['Male', 'Female'])]
print("\n⚠️ Inconsistências no campo Gender:")
print(inconsistentes_genero)

df = df[(df['Age'] - df['Years of Experience']) >= 16]
df

⚠️ Inconsistências entre idade e experiência:
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary, Country, Race]
Index: []

⚠️ Inconsistências no campo Gender:
       Age Gender  Education Level                 Job Title  \
2378  53.0  Other      High School   Senior Project Engineer
2385  25.0  Other      High School       Full Stack Engineer
2406  37.0  Other  Master's Degree       Full Stack Engineer
2448  31.0  Other      High School        Back end Developer
2454  23.0  Other      High School       Front end Developer
2458  53.0  Other      High School   Senior Project Engineer
2465  25.0  Other      High School       Full Stack Engineer
2486  37.0  Other  Master's Degree       Full Stack Engineer
2528  31.0  Other      High School        Back end Developer
2534  23.0  Other      High School       Front end Developer
2554  54.0  Other      High School  Senior Software Engineer
2800  54.0  Other      High School  Senior Software Engineer
2919  54.0  Other      High School  Senior Software Engineer
3038  54.0  Other      High School  Senior Software Engineer

      Years of Experience    Salary    Country              Race
2378                 31.0  166109.0     Canada             White
2385                  2.0   69032.0         UK             Asian
2406                 14.0  161393.0         UK             Asian
2448                  8.0  104127.0  Australia             White
2454                  2.0   62852.0      China             White
2458                 31.0  166109.0      China             White
2465                  2.0   69032.0        USA  African American
2486                 14.0  161393.0        USA             Asian
2528                  8.0  104127.0        USA  African American
2534                  2.0   62852.0      China           Chinese
2554                 29.0  158254.0      China             White
2800                 29.0  158966.0     Canada             Black
2919                 29.0  158966.0     Canada             Black
3038                 29.0  158966.0         UK             Asian

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean
6703,26.0,Female,High School,Sales Executive,1.0,35000.0,Canada,Black