Disciplina: Mineração de Dados

Professor: Wilson Castello Branco Neto

Aula 12 - Exemplo 1: Regras de Associação

Nome: Patriki de Oliveira Góss

Definição das transações. Será usado a tabela 4.1 do livro Datamining: concepts and techniques passada como atividade no final dos slides.

In [1]:
transacoes= [["I1", "I2", "I5"],
             ["I2", "I4"],
             ["I2", "I3"],
             ["I1", "I2", "I4"],
             ["I1", "I3"],
             ["I2", "I3"],
             ["I1", "I3"],
             ["I1", "I2", "I3", "I5"],
             ["I1", "I2", "I3"]]

transacoes

[['I1', 'I2', 'I5'],
 ['I2', 'I4'],
 ['I2', 'I3'],
 ['I1', 'I2', 'I4'],
 ['I1', 'I3'],
 ['I2', 'I3'],
 ['I1', 'I3'],
 ['I1', 'I2', 'I3', 'I5'],
 ['I1', 'I2', 'I3']]

Codificação da lista de transações em valores binários.

In [3]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
transacoes_codificadas = te.fit(transacoes).transform(transacoes)

print(transacoes_codificadas)

[[ True  True False False  True]
 [False  True False  True False]
 [False  True  True False False]
 [ True  True False  True False]
 [ True False  True False False]
 [False  True  True False False]
 [ True False  True False False]
 [ True  True  True False  True]
 [ True  True  True False False]]

Transformação das transações codificadas em um dataframe do pandas para facilitar sua manipulação.

In [ ]:
import pandas as pd

df = pd.DataFrame(transacoes_codificadas, columns=te.columns_)

df

      I1     I2     I3     I4     I5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

Geração dos itens frequentes, com suporte mínimo de 0.2.

In [5]:
from mlxtend.frequent_patterns import apriori

itemsets = apriori(df,min_support=0.2, use_colnames=True)

print("Itemsets frequentes:")
print(itemsets)

Itemsets frequentes:
     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I1, I2)
6   0.444444      (I1, I3)
7   0.222222      (I1, I5)
8   0.444444      (I3, I2)
9   0.222222      (I4, I2)
10  0.222222      (I5, I2)
11  0.222222  (I1, I3, I2)
12  0.222222  (I1, I5, I2)

Criação das regras de associação com confiança mínima de 0.5 e transformação das regras geradas em um dataframe para melhorar a apresentação.

In [6]:
from mlxtend.frequent_patterns import association_rules

regras = association_rules(itemsets, metric="confidence", min_threshold=0.5, num_itemsets=len(df) )
print("Regras de associação")
regras = pd.DataFrame(regras)
regras

Regras de associação

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(I1),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,1.0,-0.074074,0.666667,-0.333333,0.444444,-0.500000,0.619048
1,(I2),(I1),0.777778,0.666667,0.444444,0.571429,0.857143,1.0,-0.074074,0.777778,-0.428571,0.444444,-0.285714,0.619048
2,(I1),(I3),0.666667,0.666667,0.444444,0.666667,1.000000,1.0,0.000000,1.000000,0.000000,0.500000,0.000000,0.666667
3,(I3),(I1),0.666667,0.666667,0.444444,0.666667,1.000000,1.0,0.000000,1.000000,0.000000,0.500000,0.000000,0.666667
4,(I5),(I1),0.222222,0.666667,0.222222,1.000000,1.500000,1.0,0.074074,inf,0.428571,0.333333,1.000000,0.666667
5,(I3),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,1.0,-0.074074,0.666667,-0.333333,0.444444,-0.500000,0.619048
6,(I2),(I3),0.777778,0.666667,0.444444,0.571429,0.857143,1.0,-0.074074,0.777778,-0.428571,0.444444,-0.285714,0.619048
7,(I4),(I2),0.222222,0.777778,0.222222,1.000000,1.285714,1.0,0.049383,inf,0.285714,0.285714,1.000000,0.642857
8,(I5),(I2),0.222222,0.777778,0.222222,1.000000,1.285714,1.0,0.049383,inf,0.285714,0.285714,1.000000,0.642857
9,"(I1, I3)",(I2),0.444444,0.777778,0.222222,0.500000,0.642857,1.0,-0.123457,0.444444,-0.500000,0.222222,-1.250000,0.392857
10,"(I1, I2)",(I3),0.444444,0.666667,0.222222,0.500000,0.750000,1.0,-0.074074,0.666667,-0.375000,0.250000,-0.500000,0.416667
11,"(I3, I2)",(I1),0.444444,0.666667,0.222222,0.500000,0.750000,1.0,-0.074074,0.666667,-0.375000,0.250000,-0.500000,0.416667
12,"(I1, I5)",(I2),0.222222,0.777778,0.222222,1.000000,1.285714,1.0,0.049383,inf,0.285714,0.285714,1.000000,0.642857
13,"(I1, I2)",(I5),0.444444,0.222222,0.222222,0.500000,2.250000,1.0,0.123457,1.555556,1.000000,0.500000,0.357143,0.750000
14,"(I5, I2)",(I1),0.222222,0.666667,0.222222,1.000000,1.500000,1.0,0.074074,inf,0.428571,0.333333,1.000000,0.666667
15,(I5),"(I1, I2)",0.222222,0.444444,0.222222,1.000000,2.250000,1.0,0.123457,inf,0.714286,0.500000,1.000000,0.750000

Criação de um novo dataframe apenas com as colunas mais relevantes para cada regra.

In [7]:
resumo = regras[['antecedents','consequents','support','confidence']]
resumo

   antecedents consequents   support  confidence
0         (I1)        (I2)  0.444444    0.666667
1         (I2)        (I1)  0.444444    0.571429
2         (I1)        (I3)  0.444444    0.666667
3         (I3)        (I1)  0.444444    0.666667
4         (I5)        (I1)  0.222222    1.000000
5         (I3)        (I2)  0.444444    0.666667
6         (I2)        (I3)  0.444444    0.571429
7         (I4)        (I2)  0.222222    1.000000
8         (I5)        (I2)  0.222222    1.000000
9     (I1, I3)        (I2)  0.222222    0.500000
10    (I1, I2)        (I3)  0.222222    0.500000
11    (I3, I2)        (I1)  0.222222    0.500000
12    (I1, I5)        (I2)  0.222222    1.000000
13    (I1, I2)        (I5)  0.222222    0.500000
14    (I5, I2)        (I1)  0.222222    1.000000
15        (I5)    (I1, I2)  0.222222    1.000000